/*
 * Description: © Server1567 Website, imagina, aprende y crea.
 * Author: Junior Jimenez - Server1567
 * Author URL: https://server1567.com (PENDING)
 * Description: This is my Website Portfolio, you can hire me anytime.
*/

// ************************************************
// Estilos para la parte de la Bienvenida - Welcome
// ************************************************

#welcome {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 125px 0px auto;


	.welcome {
		margin: 5px auto;
	}

	.logo {
		margin: auto;
		width: 15%;
	}

	h3 {
		padding-top: 10px;
	}

	span {
		font-size: 18px;
	}

	.pais {
		margin-right: 10px;
		top: 2px;
		position: relative;
	}

	span.frontend {
		font-size: 16px;
		color: lighten(#000000, 20);
	}

	#letsgo {
		margin-top: 10px;
	}
}