/*
 * Author: Junior Jimenez - Server1567
 * Author URL: https://server1567.com (PENDING)
 * Description: This is my Website Portfolio, you can hire me anytime.
*/

// Mixins y variables

$raleway: 'Raleway', sans-serif;

@mixin caption_all {
	position: relative;
	margin: 0px;
	padding-bottom: 25px;
}

@mixin flexbox($xy, $select){
	display: flex;
	flex-direction: $xy;
	justify-content: $select;
}

#bg_init {
	background: url("../res/bg.png") !important;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	background: #f0f0f0;

    // Create the parallax scrolling effect
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

// *************************************************
// Estilos para la parte de la Bienvenida - Welcome
// *************************************************

@import 'welcome';

// *************************************************
// ************** Estilos la Web *******************
// *************************************************

#fullpage {

	.section {
		margin: 0;
		padding: 0;
	}

	#first {

		.responsive-image {
			width: 50%;
			padding: 50px;
			float: left;
			@include flexbox(column, center);
			align-items: center;
			height: 100%;

			.responsive {
				@include caption_all;
				width: 500px;
				align-self: center;
			}
		}

		.me {
			width: 50%;
			padding: 50px;
			@include flexbox(column, center); 
			float: right;

			.logo_me {
				@include caption_all;
				width: 15%;
				float: right;
				align-self: flex-end;
			}

			.name_me {
				@include caption_all;
				font-family: $raleway;
				font-weight: 300;
				text-align: center;
			}

			.description_me {
				@include caption_all;
				font-family: $raleway;
				font-weight: 300;
				text-align: center;
			}

			.skills_me {
				@include caption_all;
				font-family: $raleway;
				font-weight: bold;
				margin: auto;
			}

			.btn {
				@include caption_all;
				width: 30%;
				align-self: center;
				color: black;
				border: 1.5px solid black !important;

				&:hover {
					color: #3E3E3EFF;
					border: 1.5px solid #3E3E3EFF !important;
				}
			}

			.icon-container {
				@include caption_all;

				.icon-container-1 {
					@include flexbox(row, center);
					width: 100%;

					.html5, .css3, .js, .sass {
						width: 50px;
						border-radius: 50%;
					}
				}

				.icon-container-2 {
					@include flexbox(row, center);
					width: 100%;

					.bootstrap, .materialize, .git {
						width: 50px;
						border-radius: 50%;
						margin: 5px 0px 0px 10px;
					}
				}
			}
		}
	}

	.principal {
		width: 100%;
		height: 100%;
		position: absolute;
	}
}

// *************************************************
// ************** Media Queries *******************
// *************************************************

@media screen and (max-width: 992px) {

	.me {
		width: 100%;
	}
	
}