/*
 * Author: Junior Jimenez - Server1567
 * Author URL: https://server1567.com (PENDING)
 * Description: This is my Website Portfolio, you can hire me anytime.
*/

@import 'mixins';

// variables

$raleway: 'Raleway', sans-serif;

#bg_init { background: url("../res/bg.png") !important; }

body {
	@include flexbox(column, none);
	min-height: 100vh;

    // Create the parallax scrolling effect
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

// *************************************************
// Estilos para la parte de la Bienvenida - Welcome
// *************************************************

@import 'welcome';

// *************************************************
// ************** Estilos de la Web ***************
// *************************************************

#fullpage {

	.section {
		margin: 0;
		padding: 0;
	}

	#first {

		.responsive-image {
			padding: 50px;
			float: left;
			@include flexbox(column, center);
			align-items: center;
			height: 100%;

			.responsive {
				@include caption_all;
				width: 500px;
				align-self: center;
			}
		}

		.me {
			padding: 50px 50px 0px 50px;
			@include flexbox(column, center); 
			float: right;

			.logo_me {
				@include caption_all;
				width: 50px;
				float: right;
				align-self: flex-end;
			}

			.name_me {
				@include caption_all;
				font-family: $raleway;
				font-weight: 300;
				text-align: center;
			}

			.description_me {
				@include caption_all;
				@extend .name_me;
			}

			.skills_me {
				@include caption_all;
				font-family: $raleway;
				font-weight: bold;
				margin: auto;
			}

			.btn {
				@include caption_all;
				width: 30%;
				align-self: center;
				color: black;
				border: 1.5px solid black !important;

				&:hover {
					color: #3E3E3E;
					border: 1.5px solid #3E3E3E !important;
				}

				@include mobile {
					width: 40%;
				}

				@include mobile_small {
					width: 55%;
				}
			}

			.icon-container {
				@include caption_all;

				.icon-container-1 {
					@include flexbox(row, center);
					width: 100%;

					.html5, .css3, .js, .sass {
						@include skills_metrics;
					}
				}

				.icon-container-2 {
					@include flexbox(row, center);
					width: 100%;

					.bootstrap, .materialize, .git {
						@include skills_metrics;
						margin: 5px 0px 0px 10px;
					}
				}
			}
		}
	}

	.principal {
		width: 100%;
		height: 100%;
		position: absolute;
	}
}